:host{
  overflow: auto;
  height: 100%;
}

.call-toolbar{
  padding: 0.25rem;
}

.cards-block{
  min-width: 300px;
  .patch{
    i{
      font-size: 5rem;
    }
  }

}

.calls-block{
  min-width: 700px;
}
.subdivision-select{
  margin-left: 0.5rem;
}

.filter-statuses{
  i{
    vertical-align: middle;
    margin-left: 0.7rem;
    margin-right: 0.25rem;
  }
}

