<div class="card full-height">
  <div class="card-header">
    <h5 class="center-me">
      Сотрудники
    </h5>
  </div>
  <div class="flexible h-100 w-100" resizable="horizontal" saveName="admin-users">
    <div class="user-list" leftResizable fixed="850px">
      <app-admin-users-list></app-admin-users-list>
    </div>
    <div class="vertical-resizer" resizer="2px"></div>
    <div class="user-item" rightResizable >
      <app-admin-users-item></app-admin-users-item>
    </div>
  </div>
</div>
