<form novalidate #ele class="sc-form form-group">
  <input [ngModelOptions]="{standalone: true}"
         class="sc-control-checkbox"
         [disabled]="alwaysDisabled ? true : disabled"
         *ngIf="type === 'checkbox'" type="checkbox"
         [(ngModel)]="value">

  <div *ngIf="label" class="sc-label" [ngClass]="{'label-after': type === 'checkbox'}">{{label}} <span *ngIf="isError"
                                                                                                       style="color: red">{{errorText}}</span>
  </div>

  <input *ngIf="type === 'text' || type === 'number'" #ctrl
         [ngModelOptions]="{standalone: true}"
         class="sc-control form-control"
         (blur)="onInputBlur($event)"
         [(ngModel)]="value"
         [title]="value ? value : ''"
         [disabled]="alwaysDisabled ? true : disabled"
         [type]="type"
         [placeholder]="placeholder ? placeholder : label ? label : ''"
         [tabIndex]="tabIndex">

  <input *ngIf="type === 'password'" #ctrl
         [ngModelOptions]="{standalone: true}"
         class="sc-control form-control"
         (blur)="onInputBlur($event)"
         [(ngModel)]="value"
         [disabled]="alwaysDisabled ? true : disabled"
         [type]="type"
         [placeholder]="placeholder ? placeholder : label ? label : ''"
         [tabIndex]="tabIndex">

  <textarea *ngIf="type === 'textarea'" #ctrl
            [ngModelOptions]="{standalone: true}"
            class="sc-control form-control"
            [rows]="rows"
            (blur)="onInputBlur($event)"
            [(ngModel)]="value"
            [title]="value ? value : ''"
            [disabled]="alwaysDisabled ? true : disabled"
            [placeholder]="placeholder ? placeholder : label ? label : ''"
            [tabIndex]="tabIndex"></textarea>

  <!--<dictionary-template *ngIf="type === 'template'" #ctrl-->
                       <!--[rows]="rows"-->
                       <!--(blur)="onInputBlur($event)"-->
                       <!--[(model)]="value"-->
                       <!--[title]="value ? value : ''"-->
                       <!--[short]="shortDict"-->
                       <!--[field]="templateField"-->
                       <!--[disabled]="alwaysDisabled ? true : disabled"-->
                       <!--[searchField]="dictSearchField"-->
                       <!--[dict]="dict"-->
                       <!--[filters]="dictFilters"-->
                       <!--[filtersOrder]="dictFiltersOrder"-->
                       <!--[bindValue]="bindValue"-->
                       <!--[bindLabel]="bindLabel"-->
                       <!--[placeholder]="placeholder ? placeholder : label ? label : ''"-->
                       <!--[tabIndex]="tabIndex"></dictionary-template>-->

  <dictionary *ngIf="type ==='dict'" #ctrl
              [(model)]="value"
              (blur)="onInputBlur($event)"
              [dict]="dict"
              [short]="shortDict"
              [searchField]="dictSearchField"
              [placeholder]="placeholder ? placeholder : label ? label : ''"
              [dropdownPosition]="dropdownPosition"
              [filters]="dictFilters"
              [filtersOrder]="dictFiltersOrder"
              (dictSelect)="onDictSelect($event)"
              [disabled]="alwaysDisabled ? true : disabled"
              [bindValue]="bindValue"
              [bindLabel]="bindLabel"></dictionary>

  <p-calendar *ngIf="type === 'date'" #ctrl
              [disabled]="alwaysDisabled ? true : disabled"
              [placeholder]="placeholder ? placeholder : label ? label : ''"
              [locale]="ru"
              [ngModelOptions]="{standalone: true}"
              class="sc-control-calendar"
              [(ngModel)]="value"
              [showTime]="true"
              hourFormat="24"
              (onBlur)="onInputBlur($event)"

              [dateFormat]="dateFormat"></p-calendar>

  <ng-select *ngIf="type === 'select'" #ctrl
             class="archive-select"
             [placeholder]="placeholder ? placeholder : label ? label : ''"
             [(ngModel)]="value"
             [ngModelOptions]="{standalone: true}"
             [addTag]="false"
             [disabled]="alwaysDisabled ? true : disabled"
             [bindLabel]="'name'"
             [bindValue]="bindValue? (bindValue ==='selfObject') ? null : bindValue : 'id'"
             [items]="selectList"></ng-select>

  <div *ngIf="postLabel" class="sc-post-label">{{postLabel}}</div>

</form>
