<div class="toolbar my-2 default-bg">
  <div class="toolbar-left col-8">
    <app-simple-view
      [form]="form"
      [descriptions]="filterDescriptions"
      [preprocessed]="true"
      [row]="true"
      [styleClass]="'full-width'"
    ></app-simple-view>
  </div>
  <div class="toolbar-right col-4" *ngIf="pss.mode === 'original' ? access.checkAccessWrite({level: 'shiftControl'}) : access.checkAccessWrite({level: 'aviationModule'}) ">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="printReport()">
        <i class="fas fa-file-alt"></i> Выгрузка
      </button>
      <button class="btn btn-warning" [disabled]="!prolongationActive" (click)="prolongationDelete()">
        Удаление периода
      </button>
      <button class="btn btn-primary" [disabled]="!prolongationActive" (click)="prolongation()">
        Пролонгация
      </button>
    </div>
  </div>
</div>

<div class="schedule-body" *ngIf="shiftTable">
  <div class="schedule-row sticky-top header-row">
    <div class="performer-cell">Сотрудник</div>
    <div class="day-row">
      <div class="day-cell" *ngFor="let d of headerDays">{{d}}</div>
    </div>
  </div>
  <div class="schedule-row" *ngFor="let row of shiftTable.shifts">
    <div class="performer-cell {{row.selected? 'selected-performer' : 'not-selected-performer'}}" (click)="addForLong(row)">
      <div>{{row.performer.surname}} {{row.performer.name}}</div>
      <div>
        <i *ngIf="row.performer.typeFK.groupCode === 0" class="fas fa-briefcase-medical"></i>
        <i *ngIf="row.performer.typeFK.groupCode === 1" class="fas fa-car"></i>
        <i *ngIf="row.performer.typeFK.groupCode === 2" class="fas fa-phone-alt"></i>
      </div>
    </div>
    <div class="day-row">
      <div
        *ngFor="let day of row.days; let i = index;"
        class="cell-wrapper"
        (click)="openShiftList(day, row.performer, i)">
        <ng-template #popHoverTitle>{{row.performer.name}} {{row.performer.surname}} - {{row.performer.typeFK.name}}
        </ng-template>
        <ng-template #popHoverContent>
          <p *ngFor="let shift of day.shifts">
            <b>C:</b> {{shift.dateFrom | date: 'dd.MM HH:mm'}}
            <b>до:</b> {{shift.dateTo | date: 'dd.MM HH:mm'}}
            <b>({{shift.scheduleTypeFK && shift.scheduleTypeFK.name ?  shift.scheduleTypeFK.name  : 'б/г' }})</b>
          </p>
        </ng-template>
        <div *ngIf="day"
             class="day-cell filled-cell"
             [ngbPopover]="popHoverContent"
             [popoverTitle]="popHoverTitle"
             triggers="mouseenter:mouseleave"
             placement="bottom">
          <div *ngFor="let dis of day.display" class="shift" [style]="makeShiftStyle(dis)"></div>
        </div>
        <div *ngIf="!day" class="empty-cell center-me">
          <b>{{i + 1}}</b>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!shiftTable" class="patch">
  <div class="icon-container">
    <i class="fas fa-spin fa-spinner"></i>
  </div>
</div>
