<div class="flexible full-height" resizable="horizontal" saveName="logs-case">
  <div class="card request-block" leftResizable>
    <div class="full-height">
      <div class="card-header">
        <div class="card-subtitle">
          Запрос
        </div>
      </div>
      <div class="card-body scrollable">
        <pre lang="xml">
          {{request}}
        </pre>
      </div>
    </div>
  </div>
  <div class="vertical-resizer" resizer="2px"></div>
  <div class="card response-block" rightResizable fixed="300">
    <div class="full-height">
      <div class="card-header">
        <div class="card-subtitle">
          Ответ
          <i class="fas fa-times-circle text-danger" *ngIf="!sending"></i>
          <i class="fas fa-check-circle text-success" *ngIf="sending"></i>
        </div>
      </div>
      <div class="card-body">
        {{response}}
      </div>
    </div>
  </div>
</div>
