<div class="card full-height">
  <div class="card-header toolbar">
    <div class="toolbar-left"></div>
    <div class="card-subtitle">Создание нового вызова</div>
    <div class="toolbar-right"></div>
  </div>
  <div class="flexible w-100 h-100" resizable="horizontal" (onResize)="resize($event)" saveName="new-call">
    <div class="new-call-block" leftResizable>
      <div class="card full-height">
        <div class="card-header toolbar justify-content-between">
          <div class="toolbar-left">
            <div class="btn-group">
              <button type="button" class="btn btn-success " [disabled]="form.invalid"
                      (click)="create()">Создать (shift+S)
              </button>
            </div>
          </div>
        </div>
        <div class="p-2 scrollable default-bg">

          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="card-title">
                  Данные о вызове
                </div>
                <app-simple-view
                  [descriptions]="getBlockDescriptions('general')"
                  [item]="callItem.call"
                  [preprocessed]="true"
                  [row]="true"
                  [form]="form">
                </app-simple-view>
              </li>
              <li class="list-group-item">
                <div class="toolbar">
                  <div class="card-title toolbar-left">
                    Пациенты
                  </div>
                  <div class="toolbar-right">
                    <div class="btn-group">
                      <button class="btn btn-primary" (click)="addPatient()">Добавить пациента</button>
                    </div>
                  </div>
                </div>

                <div *ngFor="let newPat of patients; index as i;">
                  <app-simple-view
                    [descriptions]="getBlockDescriptions('patient')"
                    [item]="newPat.item"
                    [preprocessed]="true"
                    [row]="true"
                    [form]="newPat.form">
                  </app-simple-view>
                  <div class="toolbar-right">
                    <button class="btn btn-danger" (click)="deletePatient(i)">Удалить</button>
                  </div>
                </div>

              </li>
              <li class="list-group-item">
                <div class="card-title">
                  Адрес вызова
                </div>
                <app-full-address
                  [form]="form"
                  [valueBuilding]="callItem.call.houseNum"
                  [valueStreet]="callItem.call.address"
                  (setPolygon)="setAddressPoint($event.geometry)"
                ></app-full-address>
                <app-simple-view
                  [descriptions]="getBlockDescriptions('address')"
                  [preprocessed]="true"
                  [item]="callItem.call"
                  [form]="form"
                  [row]="true"
                ></app-simple-view>
              </li>
              <li class="list-group-item">
                <div class="card-title">
                  Заявитель
                </div>
                <app-simple-view
                  [descriptions]="getBlockDescriptions('declarant')"
                  [preprocessed]="true"
                  [item]="callItem"
                  [row]="true"
                  [form]="form">
                </app-simple-view>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="vertical-resizer" resizer="2px"></div>
    <div class="map-block-call-block" rightResizable fixed="200" resizable="vertical" (onResize)="resize($event)">
      <div class="card repeated-calls-block" upResizable>
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              Повторные вызовы
            </div>
          </div>
        </div>
        <div class="card-body full-height p-0">
          <app-grid-table
            [dataSource]="dataSource"
            [columnDefs]="colDefs"
            [pagination]="true"
            [filter]="filterRepeatedCalls"
            (onRowDblClick)="selectedRepeateCall($event)"
            (onGridReady)="fitCol($event)">
          </app-grid-table>
        </div>
      </div>
      <div class="horizontal-resizer" resizer="2px"></div>
      <div class="card map-new-call" bottomResizable fixed="400px">
        <div class="card-header flexible">
          <div class="card-title">
            Местоположение вызова
          </div>
          <div class="toolbar-right">
            <div class="btn-group">
              <button class="btn btn-info" (click)="enableSettingPoint = !enableSettingPoint">
                {{enableSettingPoint ? 'Зафиксировать' : 'Указать'}}
                <i class="fas fa-map-pin"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body p-0 map-height">
          <app-med-map
            (onClick)="setLocationFromClick($event)"
            (onMapReady)="initMapPoint()"
          ></app-med-map>
        </div>
      </div>
    </div>
  </div>
</div>
