<div class="card full-height">
  <div class="card-header">
    <h5 class="center-me">
      Поиск вызовов
    </h5>
  </div>
  <div class="flexible full-height" resizable="horizontal" saveName="calls-archive">
    <div class="card filter-calls-block" leftResizable>
      <div class="card-header">
        <div class="card-subtitle">
          Вызов
        </div>
      </div>
      <div class="card-body p-1">
        <app-simple-view
          [descriptions]="getBlockDescriptions('callInfo')"
          [preprocessed]="true"
          [form]="form"
          [row]="true"
          [item]="filters">
        </app-simple-view>
      </div>
      <div class="card-header">
        <div class="card-subtitle">
          Пациент
        </div>
      </div>
        <div class="card-body p-1">
          <app-simple-view
            [descriptions]="getBlockDescriptions('patient')"
            [preprocessed]="true"
            [form]="form"
            [row]="true"
            [item]="filters">
          </app-simple-view>
          <app-simple-view
            [descriptions]="getBlockDescriptions('address')"
            [preprocessed]="true"
            [form]="form"
            [row]="true"
            [item]="filters">
          </app-simple-view>
        </div>
      <div class="card-header">
        <div class="card-subtitle">
          Заявитель
        </div>
      </div>
      <div class="card-body p-1">
        <app-simple-view
          [descriptions]="getBlockDescriptions('declarant')"
          [preprocessed]="true"
          [form]="form"
          [row]="true"
          [item]="filters">
        </app-simple-view>
      </div>
      <div class="card-body btn-group btn-group-block p-1">
        <button class="btn btn-success" [disabled]="loading || form.invalid" (click)="searchCalls()">
          <i class="fas fa-search" *ngIf="!loading"></i>
          <i class="fas fa-cog fa-spin" *ngIf="loading"></i>
          Найти
        </button>
        <button class="btn btn-warning" (click)="eraseFilters()"><i class="fas fa-eraser"></i> Очистить</button>
      </div>
    </div>
    <div class="vertical-resizer" resizer="2px"></div>
    <div class="card table-calls-block" rightResizable fixed="300">
      <app-grid-table
        [dataSource]="dataSource"
        [columnDefs]="colDefs"
        [filter]="filters"
        (onGridReady)="fitCol($event)"
        (onRowDblClick)="goToCall($event)">
      </app-grid-table>
    </div>
  </div>
</div>
