:host{
  height: 100%;
  overflow: auto;
}

.filter-calls-block{
  min-width: 475px;
  height: 100%;
  overflow: auto;
}

.table-calls-block{
  min-width: 300px;
  height: 100%;
}

.btn-group-block {
  max-height: 40px;
}
