<div class="flexible">
  <div class="col-6 full-width">
    <div class="card">
      <div class="card-header">
        Карта вызова
      </div>
      <div class="card-body">
        <app-info-plate
          [item]="card"
          [properties]="getPlateDescriptions('card')"></app-info-plate>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="toolbar justify-content-between">
          <div class="card-subtitle">Данные о вызове</div>
          <div class="toolbar-right">
            <a href="/#/calls/{{callContainer.call.id}}" target="_blank">
              <button class="btn btn-info btn-wide btn-sm" ><i class="fas fa-phone-square fa-lg"></i></button>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-info-plate
          [item]="callContainer.call"
          [properties]="getPlateDescriptions('call')"></app-info-plate>
        <div class="plate-list">
          <div class="gen-info-char">
            <div class="plate-title">Приоритет:</div>
            <div class="plate-value">{{callContainer.call.priority? 'Неотложный' : 'Экстренный'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="callContainer.patientList && callContainer.patientList[0]">
      <div class="card-header">
        <div class="toolbar justify-content-between">
          <div class="card-subtitle">Пациент</div>
          <div class="toolbar-right">
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="plate-list">
          <div class="gen-info-char" >
            <div class="plate-title">Имя:</div>
            <div class="plate-value">{{callContainer.patientList[0].surname}}</div>
            <div class="plate-value">{{callContainer.patientList[0].name}}</div>
            <div class="plate-value">{{callContainer.patientList[0].patronymic}}</div>
          </div>
        </div>
        <div class="plate-list">
          <div class="gen-info-char">
            <div class="plate-title">Пол:</div>
            <div class="plate-value">{{callContainer.patientList[0].gender? 'Мужской' : 'Женский'}}</div>
          </div>
        </div>
        <app-info-plate
          [item]="callContainer.patientList[0]"
          [properties]="getPlateDescriptions('patient')"></app-info-plate>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Адресс вызова
      </div>
      <div class="card-body">
        <!--<app-info-plate-->
          <!--[item]="cardInfoSideOne.address"-->
          <!--[properties]="getPlateDescriptions('address')"></app-info-plate>-->
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Заявитель
      </div>
      <div class="card-body">
        <app-info-plate
          [item]="callContainer.call"
          [properties]="getPlateDescriptions('declarant')"></app-info-plate>
      </div>
    </div>
  </div>
  <div class="col-6 full-width">
    <div class="card" *ngIf="callContainer.brigadeList">
      <div class="card-header">
        Бригада
      </div>
      <div class="card-body">
        <app-info-plate
          [item]="callContainer.brigadeList[0].brigade"
          [properties]="getPlateDescriptions('brigade')"></app-info-plate>
        <div *ngFor="let per of callContainer.brigadeList[0].performerList">
          <div class="plate-list">
            <div class="gen-info-char" >
              <div class="plate-title">Состав:</div>
              <div class="plate-value">{{per.surname}}</div>
              <div class="plate-value">{{per.name}}</div>
              <div class="plate-value">{{per.patronymic}}</div>
            </div>
          </div>
        </div>
        <!--<app-info-plate-->
            <!--[item]="callContainer.brigadeList[0].performerList[0]"-->
            <!--[properties]="getPlateDescriptions('briPerformer')">-->
        <!--</app-info-plate>-->
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="toolbar justify-content-between">
          <div class="card-subtitle">Хронология отработки</div>
          <div class="toolbar-right">
            <button class="btn btn-success btn-sm" (click)="updateCD()">Cохранить</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-simple-view
          [descriptions]="descriptions"
          [row]="true"
          [item]="card"
          [form]="form"></app-simple-view>
        <app-info-plate
          [item]="card"
          [properties]="getPlateDescriptions('time')"></app-info-plate>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Подписи
      </div>
      <div class="card-body null-padding">
        <table class="table table-bordered table-sm table-striped null-margin">
          <thead>
          <tr>
            <th scope="col">Должность</th>
            <th scope="col">Фио</th>
            <th scope="col">Подпись</th>
            <th scope="col">Дата и время</th>
            <th scope="col">Комментарий</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="card.brigadeDoctorFK">
            <td >Сотрудник бригады</td>
            <td>{{card.brigadeDoctorFK.surname + ' ' + card.brigadeDoctorFK.name + ' ' + card.brigadeDoctorFK.patronymic}}</td>
            <td>{{card.brigadeDoctorIsChecked}}</td>
            <!--<td>{{card.brigadeDoctorFK | date: 'dd.MM.yyyy HH:mm'}}</td>-->
            <td></td>
            <td></td>
          </tr>
          <tr *ngIf="card.shiftSeniorDoctorFK">
            <td >Старший фельдшер</td>
            <td>{{card.shiftSeniorDoctorFK.surname + ' ' + card.shiftSeniorDoctorFK.name + ' ' + card.shiftSeniorDoctorFK.patronymic}}</td>
            <td>{{card.shiftSeniorDoctorIsChecked}}</td>
            <!--<td>{{card.shiftSeniorDoctorFK | date: 'dd.MM.yyyy HH:mm'}}</td>-->
            <td>{{card.shiftSeniorDoctorComment}}</td>
          </tr>
          <tr *ngIf="card.subdivisionHeadDoctorFK">
            <td>Заведующий отделения</td>
            <td>{{card.subdivisionHeadDoctorFK.surname + ' ' + card.subdivisionHeadDoctorFK.name + ' ' + card.subdivisionHeadDoctorFK.patronymic}}</td>
            <td>{{card.subdivisionHeadDoctorIsChecked}}</td>
            <!--<td>{{card.subdivisionHeadDoctorFK | date: 'dd.MM.yyyy HH:mm'}}</td>-->
            <td>{{card.subdivisionHeadDoctorComment}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


