<table class=" table table-sm table-bordered table-striped table-hover" *ngIf="mode === 'performers'">
  <thead>
  <tr>
    <th class="sticky-top" >Сотрудник</th>
    <th class="sticky-top">Должность</th>
    <th class="sticky-top" scope="col" *ngFor="let date of dateLabels">{{date}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows" [ngClass]="checkElement(row, selectedRows)? 'selected-row' : ''">
    <!--<td class="selectable-cell" (click)="selectData($event, row)"></td>-->
    <td (click)="selectData($event, row)">{{row.first.surname}} {{row.first.name}} {{row.first.patronymic}}</td>
    <td (click)="selectData($event, row)">{{row.first.typeFK ? row.first.typeFK.name : ''}}</td>
    <!--<td class="selectable-cell" (click)="clickDate({performer: row.performer, date: date, duty: row[date]})" *ngFor="let date of dates">{{row[date] ? row[date][0].period_type.name ? row[date][0].period_type.name : 'в/г'  : ''}}</td>-->
    <td class="selectable-cell"
        (click)="clickDate({performer: {first_name: row.first.name, second_name: row.first.surname, patronymic: row.first.patronymic, position: row.first.typeFK? row.first.typeFK.name : ''}, date: dates[date - 1], duty: row.second[date - 1], performerFK: row.first})"
        *ngFor="let date of dateLabels">
      {{row.second[+date - 1] ? row.second[+date - 1].id ? row.second[+date - 1].scheduleTypeFK.name ? row.second[+date - 1].scheduleTypeFK.name : 'БГ' : '+' : ''}}
    </td>
  </tr>
  </tbody>
</table>

<table class=" table table-sm table-bordered table-striped table-hover" *ngIf="mode === 'brigades'">
  <thead>
  <tr>
    <th class="sticky-top">Бригада</th>
    <th class="sticky-top">Тип бригады</th>
    <th class="sticky-top" scope="col" *ngFor="let date of dateLabels">{{date}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows">
    <td>{{row.first.name}}</td>
    <td>{{row.first.brigadeTypeFK.name}}</td>
    <td class="selectable-cell center-me"
        (click)="clickDate({brigade: {brigadeId: row.first.id, brigadeName: row.first.name, brigadeTypeName: row.first.brigadeTypeFK.name}, date: dates[date - 1], duty: row.second[date - 1] })"
        *ngFor="let date of dateLabels"><i *ngIf="row.second[date - 1]" class="fas fa-ambulance"></i></td>
  </tr>
  </tbody>
</table>
