@import "~src/styles/variables";

:host {
  height: 100%;
}

th {
  background: white;
}

.selectable-cell:hover {
  background-color: $primary;
  color: white;
  cursor: pointer;
}
.selected-row {
  background-color: #bde2e5 !important;
  //color: white;
  cursor: pointer;
}
.selected-row:hover {
  background-color: #bde2e5;
  //color: white;
  cursor: pointer;
}
