<div class="card full-height">
  <div class="card-header">
    <h5 class="center-me">
      Поиск карты вызова
    </h5>
  </div>
    <div class="flexible full-height" resizable="horizontal" saveName="cards-archive">
    <div class="card filter-cards-block" leftResizable>
        <div class="card">
          <div class="card-header">
            <div class="card-subtitle">
              Вызов
            </div>
          </div>
          <div class="card-body p-1">
            <app-simple-view
              [descriptions]="getBlockDescriptions('callInfo')"
              [preprocessed]="true"
              [form]="form"
              [row]="true"
              [item]="filters">
            </app-simple-view>
          </div>
        </div>
          <div class="card-header">
            <div class="card-subtitle">
              Пациент
            </div>
          </div>
          <div class="card-body p-1">
            <app-simple-view
              [descriptions]="getBlockDescriptions('patient')"
              [preprocessed]="true"
              [form]="form"
              [row]="true"
              [item]="filters">
            </app-simple-view>
          </div>
          <div class="card-header">
            <div class="card-subtitle">
              Адрес вызова
            </div>
          </div>
          <div class="card-body p-1">
            <app-simple-view
              [descriptions]="getBlockDescriptions('address')"
              [preprocessed]="true"
              [form]="form"
              [row]="true"
              [item]="filters">
            </app-simple-view>
          </div>
          <div class="card-header">
            <div class="card-subtitle">
              Заявитель
            </div>
          </div>
          <div class="card-body p-1">
            <app-simple-view
              [descriptions]="getBlockDescriptions('declarant')"
              [preprocessed]="true"
              [form]="form"
              [row]="true"
              [item]="filters">
            </app-simple-view>
          </div>
        <div class="card-body btn-group btn-group-block p-1">
          <button class="btn btn-success" [disabled]="loading || form.invalid" (click)="searchCards()">
            <i class="fas fa-search" *ngIf="!loading"></i>
            <i class="fas fa-cog fa-spin" *ngIf="loading"></i>
            Найти
          </button>
          <button class="btn btn-warning" (click)="eraseFilters()">
            <i class="fas fa-eraser"></i> Очистить
          </button>
        </div>
    </div>
    <div class="vertical-resizer" resizer="2px"></div>
    <div class="card table-cards-block" rightResizable fixed="300">
      <app-grid-table
        [dataSource]="dataSource"
        [columnDefs]="colDefs"
        (onRowSelect)="selectedTable($event)"
        [filter]="filters"
        (onGridReady)="fitCol($event)"
        (onRowDblClick)="goToCard($event)">
      </app-grid-table>
    </div>
  </div>
</div>
