<div class="patch" *ngIf="!userItem">
  <i class="fas fa-lg fa-user-edit"></i>
</div>

<div class="p-1 h-100 default-bg scrollable" *ngIf="userItem">
  <div class="card m-2">
    <div class="card-header toolbar">
      <div class="toolbar-left"></div>
      <div class="card-title">{{userItem.id ? 'Сотрудник' : 'Новый сотрудник'}}</div>
      <div class="toolbar-right">
        <button class="btn btn-primary btn-sm ml-2" (click)="showLog()">Журнал</button>
      </div>

    </div>
    <div class="card-body">
      <app-simple-view
        [descriptions]="getBlockDescriptions('general')"
        [form]="form"
        [preprocessed]="true"
        [row]="true"></app-simple-view>
    </div>
  </div>
  <div class="flexible">
    <div class="card m-2 w-50">
      <div class="card-header">
        <div class="card-title center-me">
          Пользователь
        </div>
      </div>
      <div class="card-body">
        <app-simple-view
          [descriptions]="getBlockDescriptions('login')"
          [preprocessed]="true"
          [form]="loginForm"
          [item]="userItem"
          [row]="true"></app-simple-view>
      </div>
    </div>
    <div class="card m-2 w-50">
      <div class="card-header">
        <div class="card-title center-me">
          Роли
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="rolesForm" class="flexible flex-column">
          <app-simple-view
            [form]="rolesForm"
            [preprocessed]="true"
            [descriptions]="rolesDescriptions"
            [item]="userRolesInterface"
          ></app-simple-view>
        </div>
      </div>
    </div>
  </div>
  <div class="card  m-2">
    <div class="toolbar-right m-1" *ngIf="access.checkAccessWrite({level: 'adminModule'})">
      <button class="btn btn-outline-danger mx-2" (click)="deleteUserItem()">Удалить</button>
      <button class="btn btn-success" (click)="saveUserItem()" [disabled]="!samePassword || form.invalid">Сохранить</button>
    </div>
  </div>

</div>

