<div class="card">
  <div class="card-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="back()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="card-title">
      Пролонгация
    </div>
    <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
      <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
  </div>
  <div class="card-body">
    <app-simple-view
      [item]="dateItem"
      [descriptions]="desc"
      [form]="form"
      [row]="true">
    </app-simple-view>
  </div>
  <div class="card-footer toolbar-right">
    <div class="btn-group">
      <button class="btn btn-secondary" (click)="back()">Назад</button>
      <button class="btn btn-success" [disabled]="!form.valid"  (click)="submit()">Применить</button>
      <!--<button class="btn btn-success" ngbAutofocus (click)="submit()">Применить</button>-->
    </div>
  </div>
</div>
