<div class="card full-height">
  <div class="card-header">
    <h5 class="center-me">
      Шаблоны укладок
    </h5>
  </div>
  <div class="flexible h-100 w-100" resizable="horizontal" saveName="admin-users">
    <div class="bags-list" leftResizable fixed="850px">
      <app-drug-bag-templates-list></app-drug-bag-templates-list>
    </div>
    <div class="vertical-resizer" resizer="2px"></div>
    <div class="bags-item" rightResizable >
      <app-drug-bag-templates-item></app-drug-bag-templates-item>
    </div>
  </div>
</div>
