<div class="card full-height">
  <div class="card-header toolbar">
    <div class="toolbar-left"></div>
    <h5>Бригады</h5>
    <div class="toolbar-right"></div>
  </div>
  <div class="card-body full-height null-padding">
    <div class="flexible full-height" resizable="horizontal" saveName="brigades-list">
      <div class="card list-block" leftResizable>
        <div class="card-header p-0">
          <ngb-tabset (tabChange)="changeMode($event.nextId)">
            <ngb-tab [id]="modes.ONLINE" title="Выведены в смену">
            </ngb-tab>
            <ngb-tab [id]="modes.OFFLINE"  title="Не выведены в смену">
            </ngb-tab>
            <ngb-tab [id]="modes.UPCOMING" title="Заступают в течении суток">
            </ngb-tab>
          </ngb-tabset>
        </div>
        <div class="card-body full-height p-0">
          <app-grid-table
            [listSource]="listSource"
            [pagination]="false"
            (onGridReady)="fitCol($event)"
            (onRowSelect)="selectBri($event)"
            [columnDefs]="colDefs"></app-grid-table>
        </div>
      </div>
      <div class="vertical-resizer" resizer="2px"></div>
      <div class="card preview-block" rightResizable fixed="620">
        <ngb-tabset class="card-header p-0 flex-ngb-tabs" *ngIf="selectedBrigade">
          <ngb-tab title="Информация о смене">
            <ng-template ngbTabContent>
              <div class="flexible full-height">
                <div class="col-7 p-0">
                  <div class="card full-height">
                    <div class="card-header">
                      Общая информация
                    </div>
                    <div class="card-body pb-0" >
                      <div class="bri-info-block">
                        <div class="bri-info-title">Наименование:</div>
                        <div class="bri-info-value">{{selectedBrigade.first.name}}</div>
                      </div>
                      <div class="bri-info-block">
                        <div class="bri-info-title">Тип:</div>
                        <div class="bri-info-value">{{selectedBrigade.first.brigadeTypeFK.name}}</div>
                      </div>
                      <div class="bri-info-block">
                        <div class="bri-info-title">Т/С:</div>
                        <div class="bri-info-value">{{transport ? transport.name : ''}}</div>
                      </div>
                      <!--<div class="bri-info-block">-->
                        <!--<div class="bri-info-title">Укладка:</div>-->
                        <!--<div class="bri-info-value">{{selectedBrigade.pharmacy_package_name}}</div>-->
                      <!--</div>-->
                      <div class="bri-info-block">
                        <div class="bri-info-title">График:</div>
                        <div class="bri-info-value">{{selectedBrigade.second[0].dateFrom | date: 'dd.MM HH:mm'}} - {{selectedBrigade.second[0].dateTo | date: 'dd.MM HH:mm'}}</div>
                      </div>
                      <!--<div class="bri-info-block" *ngIf="mode === modes.ONLINE">-->
                        <!--<div class="bri-info-title">Начало смены:</div>-->
                        <!--<div class="bri-info-value">{{selectedBrigade.period_details.duty_start_date | date: 'dd.MM HH:mm'}}</div>-->
                      <!--</div>-->
                      <!--<div class="bri-info-block" *ngIf="mode === modes.OFFLINE">-->
                        <!--<div class="bri-info-title">Смена:</div>-->
                        <!--&lt;!&ndash;<div class="bri-info-value">{{selectedBrigade.period_details.duty_start_date | date: 'dd.MM HH:mm'}} - {{selectedBrigade.period_details.duty_end_date | date: 'dd.MM HH:mm'}}</div>&ndash;&gt;-->
                      <!--</div>-->
                      <div class="toolbar pt-2">
                        <div>
                          <button class="btn btn-sm btn-outline-danger" (click)="sendAlarm()" *ngIf="mode === modes.ONLINE">Тревога <i class="fas fa-exclamation-triangle"></i></button>
                        </div>
                        <div class="toolbar-right">
                          <div class="btn-group mx-2">
                            <button class="btn btn-sm btn-success" (click)="sendOnBase()" *ngIf="mode === modes.ONLINE">На станции</button>
                            <button class="btn btn-sm btn-warning" (click)="endDuty()" *ngIf="mode === modes.ONLINE">Уход с линии</button>
                            <button class="btn btn-sm btn-success" (click)="startDuty()" *ngIf="mode === modes.OFFLINE">Вывести на линию</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-5 p-0">
                  <div class="card full-height">
                    <div class="card-header">
                      Состав
                    </div>
                    <div class="card-body" >
                      <div class="bri-info-block" *ngFor="let p of crew">
                        <div class="bri-info-title">{{p.typeFK.name}}:</div>
                        <div class="bri-info-value">{{p.name}} {{p.surname}}</div>
                      </div>
                    </div>
                    <div class="card-body" >
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Вызовы">
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-header">
                  Вызовы
                </div>
                <div class="card-body p-0">
                  <table *ngIf="selectedBrigade" class="table table-sm  m-0 table-hover">
                    <thead>
                    <tr>
                      <th scope="col">№</th>
                      <th scope="col">Повод</th>
                      <th scope="col">Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let call of doings" [routerLink]="call.id">
                      <td>{{call.id}}</td>
                      <td><a>{{call.reasonFK.reason}}</a></td>
                      <td>{{statusFormatter(call.status)}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Журнал событий">
            <ng-template ngbTabContent>
              <div class="card full-height">
                <div class="card-body full-height p-0">
                  <app-grid-table
                    [columnDefs]="colDefsLog"
                    (onGridReady)="fitCol($event)"
                    [pagination]="false"
                    [listSource]="listSourceLog">
                  </app-grid-table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <div *ngIf="!selectedBrigade" class="patch" >
          <h2>Выберите бригаду</h2>
        </div>
      </div>
    </div>
  </div>
</div>
