<div class="nav-info-container">
  <div class="card-header">
    <div class="card-title center-me">
      Ф-110 {{cardItem.cardStatus | cardStatus}}
    </div>
  </div>
  <div class="flexible pt-2 ">
    <div class="toolbar-left ">
      <ul class="nav nav-tabs nav-info full-width">
        <li class="nav-item ml-1">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="'side-one'">
            Первая сторона (ALT+1)
          </a>
        </li>
        <li class="nav-item ml-1">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="'patient'">
            Пациент (ALT+2)
          </a>
        </li>
        <li class="nav-item ml-1">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="'anamnesis'">
           Анамнез (ALT+3)
          </a>
        </li>
        <li class="nav-item ml-1">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="'side-two'">
            Объективные данные (ALT+4)
          </a>
        </li>
        <li class="nav-item ml-1">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="'result'">
            Результат (ALT+5)
          </a>
        </li>
<!--        <li class="nav-item ml-1">-->
<!--          <a class="nav-link"-->
<!--             routerLinkActive="active"-->
<!--             [routerLink]="'status'">-->
<!--            Статус карты (ALT+6)-->
<!--          </a>-->
<!--        </li>-->
        <!--<li class="nav-item ml-1">-->
          <!--<a class="nav-link"-->
             <!--routerLinkActive="active"-->
             <!--[routerLink]="'protocol'">-->
            <!--Протокол-->
          <!--</a>-->
        <!--</li>-->
      </ul>
    </div>
    <div class="nav-tabs nav-buttons">
      <div *ngIf="access.checkAccessWrite({level: 'tcmkModule'}) || access.checkAccessWrite({level: 'callsModule'})">
        <button class="btn btn-success btn-sm mr-1 " *ngIf="isEditing === 'editing'"
                (click)="saveCard()">Сохранить (shift+S)
        </button>
        <button *ngIf="isEditing === 'loading'" class="btn btn-primary btn-sm mr-1">
          Загрузка <i class="fas fa-spin fa-spinner"></i>
        </button>
        <button *ngIf="isEditing === 'disable' && (cardItem.cardStatus === null || cardItem.cardStatus === 0 || cardItem.cardStatus === 1 || cardItem.cardStatus === 2)"
                class="btn btn-primary btn-sm mr-1" (click)="unlockCard()">
          Редактировать <i class="fa fa-pen"></i>
        </button>

        <button *ngIf="isEditing === 'disable' && (cardItem.cardStatus === null ||cardItem.cardStatus === 0 || cardItem.cardStatus === 2)"
                (click)="sendCardStatus(cardStatuses.VERIFYING)"
                class="btn btn-primary btn-sm mr-1">
          Отправить на проверку
        </button>
        <button *ngIf="isEditing === 'disable' && cardItem.cardStatus === 1"
                (click)="sendCardStatus(cardStatuses.CHECKED)"
                class="btn btn-primary btn-sm mr-1">
          Отправить на доработку
        </button>
        <button *ngIf="isEditing === 'disable' && cardItem.cardStatus === 1"
                (click)="sendCardStatus(cardStatuses.ARCHIVED)"
                class="btn btn-primary btn-sm mr-1">
          Отправить в архив
        </button>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary btn-sm mr-1" id="dropdownPrint" ngbDropdownToggle>Печать <i class="fas fa-print"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownPrint">
          <button ngbDropdownItem  (click)="printReport('f110')">Форма Ф110</button>
          <button ngbDropdownItem (click)="printReport('carrySheet')">Сопр. талон</button>
        </div>
      </div>

    </div>
  </div>
    <router-outlet></router-outlet>
</div>


