@import "../../../../styles/variables";

:host{
  height: 100%;
}

.card-f{
  padding-right: 0;
  padding-left: 0;
  padding-top: 5px;
}

.nav-buttons{
  display: flex;
  align-items: center;
}

.nav-tabs {
  .nav-link.active{
    background-color: $yellow-sand;
  }
}
