<div class="card-header flexible justify-content-around">
  <h3>Справочники</h3>
</div>
<div class="card-body dict-list">
  <div class="row d-flex">
      <div class="card flex-fill align-self-start mr-2">
        <div class="card-header">
          <div class="card-title">Общие</div>
        </div>
        <div class="card-body dict-list-container">
          <ul class="nav flex-column full-height">
            <li class="nav-item" *ngFor="let el of commonList">
              <a class="nav-link" routerLinkActive="active" [routerLink]="el.name">{{el.title}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card flex-fill align-self-start mr-2">
        <div class="card-header">
          <div class="card-title">Бригады</div>
        </div>
        <div class="card-body dict-list-container">
          <ul class="nav flex-column full-height">
            <li class="nav-item" *ngFor="let el of brigadesList">
              <a class="nav-link" routerLinkActive="active" [routerLink]="el.name">{{el.title}}</a>
            </li>
          </ul>
        </div>
        <div class="card-header">
          <div class="card-title">Вызовы</div>
        </div>
        <div class="card-body dict-list-container">
          <ul class="nav flex-column full-height">
            <li class="nav-item" *ngFor="let el of callsList">
              <a class="nav-link" routerLinkActive="active" [routerLink]="el.name">{{el.title}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card flex-fill">
        <div class="card-header">
          <div class="card-title">Объективные данные</div>
        </div>
        <div class="card-body dict-list-container">
          <ul class="nav flex-column full-height">
            <li class="nav-item" *ngFor="let el of objectivesList">
              <a class="nav-link" routerLinkActive="active" [routerLink]="el.name">{{el.title}}</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
