@import "../../../../styles/variables";

:host{
  height: 100%;
  //overflow: auto;
  button {
    margin-bottom: 1rem;
  }
}

.dict-list {
  overflow: auto;
  height: 100%;

  .nav-item {
    margin-bottom: 1px;
    border-radius: 0.25rem;
    background-color: $primary;
    .nav-link {
      color: $white;
    }
    &:hover {
      background-color: darken($info-alt, 12);
    }
  }
  .dict-list-container {
    padding: 2px;
  }
}
