<div class="card h-100">
  <div class="card-header flexible justify-content-around">
    <h3>Ведение НСИ</h3>
  </div>
  <div class="card-body dict-list default-bg">
    <div class="row d-flex">
      <div class="card flex-fill align-self-start mr-2">
        <div class="card-header">
          <div class="card-title">Общие</div>
        </div>
        <div class="card-body dict-list-container">
          <ul class="nav flex-column full-height">
            <li class="nav-item" *ngFor="let el of commonList | orderBy: 'title'">
              <a class="nav-link" routerLinkActive="active" [routerLink]="el.name">{{el.title}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card flex-fill align-self-start mr-2">
        <div class="card-header">
          <div class="card-title">Бригады</div>
        </div>
        <div class="card-body dict-list-container">
          <ul class="nav flex-column full-height">
            <li class="nav-item" *ngFor="let el of brigadesList | orderBy: 'title'">
              <a class="nav-link" routerLinkActive="active" [routerLink]="el.name">{{el.title}}</a>
            </li>
          </ul>
        </div>
        <div class="card-header">
          <div class="card-title">Вызовы</div>
        </div>
        <div class="card-body dict-list-container">
          <ul class="nav flex-column full-height">
            <li class="nav-item" *ngFor="let el of callsList | orderBy: 'title'">
              <a class="nav-link" routerLinkActive="active" [routerLink]="el.name">{{el.title}}</a>
            </li>
          </ul>
        </div>
        <!--<div class="card-header">-->
          <!--<div class="card-title">Аптека</div>-->
        <!--</div>-->
        <!--<div class="card-body dict-list-container">-->
          <!--<ul class="nav flex-column full-height">-->
            <!--<li class="nav-item" *ngFor="let el of drugStoreList">-->
              <!--<a class="nav-link" routerLinkActive="active" [routerLink]="el.name">{{el.title}}</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <div class="card-header">
          <div class="card-title">Аптека</div>
        </div>
        <div class="card-body dict-list-container">
          <ul class="nav flex-column full-height">
            <li class="nav-item" *ngFor="let el of drugStoreList2 | orderBy: 'title'">
              <a class="nav-link" routerLinkActive="active" [routerLink]="el.name">{{el.title}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card flex-fill">
        <div class="card-header">
          <div class="card-title">Объективные данные</div>
        </div>
        <div class="card-body dict-list-container">
          <ul class="nav flex-column full-height">
            <li class="nav-item" *ngFor="let el of objectivesList | orderBy: 'title'">
              <a class="nav-link" routerLinkActive="active" [routerLink]="el.name">{{el.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

