<div class="card bri-cards">
  <div class="card-header">
    <div class="card-title">
      Карты Ф-110 бригады
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="card-body full-height">
    <app-grid-table
      [columnDefs]="colDefs"
      [sizeColumnsToFit]="true"
      [pagination]="false"
      (onRowDblClick)="gotoCard($event)"
      [listSource]="listSource">
    </app-grid-table>

  </div>
  <div class="card-footer toolbar-right">
    <div class="btn-group">
      <button class="btn btn-success" (click)="createCard()">
        Создать карту
      </button>
      <button class="btn btn-secondary" (click)="cancel()">
        Назад
      </button>
    </div>
  </div>
</div>
