<div class="card full-height">
  <div class="card-body full-height p-0">
    <div class="full-height flexible" resizable="horizontal" saveName="patients-info-archive">
      <div class="card cards-list-block" fixed="450" leftResizable>
        <div class="card-header toolbar">
          <div class="toolbar-left"></div>
          <h5>Список карт пациента</h5>
          <div class="toolbar-right"></div>
        </div>
        <div class="card-body null-padding">
          <app-grid-table
            [dataSource]="dataSourceCards"
            [columnDefs]="colDefsCards"
            [pagination]="true"
            [filter]="filters"
            (onRowDblClick)="goToCard($event)"
            (onGridReady)="fitCol($event)">
          </app-grid-table>
        </div>
      </div>
      <div class="vertical-resizer" resizer="2px"></div>
      <div class="card patient-info-block" rightResizable>
        <div class="card-header toolbar justify-content-between">
          <div class="toolbar-left"></div>
          <h5 class="center-me">
            {{patItem ? 'Пациент №'+ patItem.id : ''}}
          </h5>
          <div class="toolbar-right">
            <div class="btn-group">
              <button class="btn btn-success btn-sm" (click)="savePatient()"><i class="fas fa-save"></i> Сохранить пациента </button>
            </div>
          </div>
        </div>
        <div class="card-body d-flex p-0 full-height scrollable default-bg">
          <div class="col-6">
            <div class="card card-message">
              <div class="card-header">
                Общая информация
              </div>
              <div class="card-body">
                <app-simple-view
                  [descriptions]="getBlockDescriptions('patient-info')"
                  [row]="true"
                  [preprocessed]="true"
                  [item]="patItem"
                  [form]="formPatient"></app-simple-view>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card card-message">
              <div class="card-header">
                Документы
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item {{doc.document.isDeleted? 'bg-light' : ''}}"
                      *ngFor="let doc of docForms; let i = index;">
                    <app-simple-view
                      [form]="doc.form"
                      [item]="doc.document"
                      [preprocessed]="true"
                      [row]="true"
                      [descriptions]="getBlockDescriptions('documents')"
                    ></app-simple-view>
                    <div class="toolbar-right">
                      <button class="btn btn-danger" [disabled]="doc.document.isDeleted" (click)="deleteDocument(doc, i)">
                        Удалить
                      </button>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <button class="btn btn-success" (click)="addDocument()">
                      Добавить документ
                    </button>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
