:host{
  height: 100%;
}

.cards-list-block{
  min-width: 450px;
}

.patient-info-block{
  min-width: 450px;
}


//.calls-wrapper{
//  display: flex;
//  height: 100%;
//  flex-direction: column;
//}
