<div class="card">
  <div class="card-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="back()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="card-title">
      {{mode === 'new'? 'Добаление' : 'Редактирование'}} смены на {{date | date: 'dd.MM.yyyy' }}
    </div>
  </div>
  <div class="card-body">
    <div class="card-subtitle">
      {{performer.surname}} {{performer.name}} {{performer.patronymic}} - {{performer.typeFK? performer.typeFK.name : ''}}
    </div>
    <app-simple-view

    [form]="form"
    [row]="true"
    [preprocessed]="true"
    [descriptions]="getBlockDescriptions('type')"></app-simple-view>

    <app-simple-view
    [form]="form"
    [row]="true"
    [preprocessed]="true"
    [descriptions]="getBlockDescriptions()"></app-simple-view>
  </div>
  <div class="card-footer toolbar-right">
    <div class="btn-group">
      <button class="btn btn-success" (click)="save()">Применить</button>
      <button class="btn btn-secondary" (click)="back()">Отменить</button>
    </div>
  </div>
</div>
