<div class="patch" *ngIf="!bagTemplateItem">
  <i class="fas fa-briefcase-medical"></i>
</div>

<div class="p-1 h-100 default-bg flexible flex-column" *ngIf="bagTemplateItem">
  <div class="card m-2">
    <div class="card-header toolbar">
      <div class="toolbar-left"></div>
      <div class="card-title">{{bagTemplateItem.id ? 'Шаблон уладки' : 'Новый шаблон'}}</div>
      <div class="toolbar-right">
      </div>

    </div>
    <div class="card-body">
      <app-simple-view
        [form]="form"
        [item]="bagTemplateItem"
        [row]="true"
        [descriptions]="descriptions"
        [preprocessed]="true"></app-simple-view>
    </div>
    <div class="card-footer toolbar">
      <div class="toolbar-left">
      </div>
      <div class="toolbar-right">
        <div class="btn-group">
          <button class="btn btn-outline-danger" (click)="deleteBag()" *ngIf="bagTemplateItem.id">
            Удалить
          </button>
          <button class="btn btn-success" (click)="saveBagTemplateInfo()">
            {{bagTemplateItem.id ? 'Сохранить описание' : 'Создать'}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card h-100 m-2" *ngIf="bagTemplateItem.id">
    <div class="card-header">
      <div class="card-title">
        Медикаменты
      </div>
    </div>
    <app-grid-table
      (onRowSelect)="selectDrug($event)"
      [columnDefs]="colDef"
      [listSource]="bagTemplateItem.drugList"></app-grid-table>
    <div class="card-footer toolbar pt-2">
      <div class="toolbar-left">

      </div>
      <div class="toolbar-right">
        <div class="btn-group">
          <button class="btn btn-success" (click)="addDrug2bagTemplate()">
            Добавить медикамент
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="patch" *ngIf="!bagTemplateItem.id">
    <i class="fas fa-pills"></i>
  </div>
</div>
