<div class="card">
  <div class="card-header">
    <div class="card-title">
      {{therapyAct? 'Добавить': 'Редактировать'}} мероприятие проведенное {{local? 'на месте': 'в машине'}}
    </div>
  </div>
  <div class="card-body">
    <app-simple-view
      [descriptions]="descriptionTherapy"
      [item]="therapies"
      [row]="true"
      [form]="form"
    ></app-simple-view>
    <div class="nav-tabs nav-buttons">
      <div class="btn-group">
        <button class="btn btn-sm btn-success" (click)="addDrugs()">Добавить</button>
        <button class="btn btn-sm btn-info" >Редактировать</button>
        <button class="btn btn-sm btn-danger" >Удалить</button>
    </div>
    </div>
    <div class="therapies">
      <app-grid-table
        [columnDefs]="colDefs"
        [pagination]="true"
        [listSource]="listSource"
      >
      </app-grid-table>
    </div>
  </div>
  <div class="card-footer">
    <div class="toolbar-right">
      <div class="btn-group">
        <button *ngIf="therapyAct" class="btn btn-success" (click)="save()">
          Сохранить
        </button>
        <button *ngIf="!therapyAct" class="btn btn-success" (click)="edit()">
          Обновить
        </button>
        <button class="btn btn-secondary" (click)="back()">Назад</button>
    </div>
    </div>
  </div>
</div>
