<div class="card">
  <div class="card-header">
    <div class="card-title">
      Редактирование адреса вызова
    </div>
  </div>
  <div class="card-body">
    <app-simple-view
      [descriptions]="descriptionRegion"
      [item]="callItem.address.region"
      [form]="formRegion"
    ></app-simple-view>
    <app-simple-view
      [descriptions]="descriptionDistrict"
      [item]="callItem.address.district"
      [form]="formDistrict"
    ></app-simple-view>
    <app-simple-view
      [descriptions]="descriptionSettlement"
      [item]="callItem.address.settlement"
      [form]="formSettlement"
    ></app-simple-view>
    <app-simple-view
      [descriptions]="descriptionStreet"
      [item]="callItem.address.street"
      [form]="formStreet"
    ></app-simple-view>
    <app-simple-view
      [descriptions]="descriptionHouse"
      [item]="callItem.address.house"
      [row]="true"
      [form]="formHouse"
    ></app-simple-view>
    <app-simple-view
      [descriptions]="descriptionRest"
      [item]="callItem.address"
      [row]="true"
      [form]="formRest"
    ></app-simple-view>
  </div>
  <div class="card-footer">
    <div class="toolbar-right">
      <div class="btn-group">
        <button class="btn btn-success" (click)="save()">Сохранить</button>
        <button class="btn btn-secondary" (click)="back()">Отмена</button>
      </div>
    </div>
  </div>
</div>
