<div class="flexible flex-column full-height">
  <div class="card-body d-flex p-0" *ngIf="!loading">
    <div *ngIf="!brigadeAssigned.brigadeBean" class="patch full-width">
      <h2>Бригада не назначена</h2>
    </div>
    <div *ngIf="brigadeAssigned.brigadeBean" class="flexible full-width">
      <div class="flex-fill" >
        <div class="card-header toolbar">
          <div class="toolbar-left"></div>
          <h5>Информация о бригаде</h5>
          <div class="toolbar-right"></div>
        </div>
        <div class="card-body">
          <div class="bri-info-block">
            <div class="bri-info-title">Наименование:</div>
            <div class="bri-info-value">{{brigadeAssigned.brigadeBean.name}}</div>
          </div>
          <div class="bri-info-block">
            <div class="bri-info-title">Тип:</div>
            <div class="bri-info-value">{{brigadeAssigned.brigadeBean.brigadeTypeFK.name}}</div>
          </div>
          <div class="bri-info-block"
               *ngFor="let performers of brigadeAssigned.brigadeSchedule.performerScheduleList; index as i">
            <div class="bri-info-title">Сотрудник {{i + 1}}:</div>
            <div class="bri-info-value">
              {{
              performers.performerFK.surname + ' ' +
              performers.performerFK.name + ' ' +
              performers.performerFK.patronymic
              }}
            </div>
          </div>
          <div class="bri-info-block">
            <div class="bri-info-title">Транспорт:</div>
            <div class="bri-info-value">{{brigadeAssigned.brigadeSchedule.transportScheduleList[0].transportFK.name}}
            </div>
          </div>
          <div class="bri-info-block">
            <div class="bri-info-title">График:</div>
            <div class="bri-info-value">
              {{brigadeAssigned.brigadeSchedule.dateFrom | date: 'dd.MM HH:mm'}} -
              {{brigadeAssigned.brigadeSchedule.dateTo | date: 'dd.MM HH:mm'}}
            </div>
          </div>
        </div>
      </div>
      <div class="flex-fill" *ngIf="!loading">
        <div class="card-header toolbar">
          <div class="toolbar-left"></div>
          <h5>Управление бригадой</h5>
          <div class="toolbar-right"></div>
        </div>
        <div class="card-body">
          <div class="btn-group manage-buttons">
            <button class="btn btn-outline-success mb-2" (click)="freeOnBase()">Готова (На станции) <i
              class="fas fa-hospital-alt"></i></button>
            <button class="btn btn-outline-primary mb-2" (click)="returnOnBase()">Готова (В пути на станцию) <i
              class="fas fa-arrow-circle-up"></i></button>
            <div class="d-flex">
              <button [disabled]="!statusBrigade" class="btn btn-outline-secondary mb-2 flex-fill"
                      (click)="notReady()">Не готова <i
                class="fas fa-frown"></i>
              </button>
              <app-simple-view class="flex-fill"
                               [descriptions]="descriptions"
                               [row]="true"
                               [item]="brigadeAssigned.brigadeBean"
                               [preprocessed]="true"
                               [form]="form">
              </app-simple-view>
            </div>
            <button class="btn btn-outline-danger" (click)="sendAlarm()">Подать сигнал тревоги <i
              class="fas fa-exclamation-triangle"></i></button>
          </div>
        </div>
      </div>
      <div class="flex-fill" *ngIf="!loading">
        <div class="card-header toolbar">
          <div class="toolbar-left"></div>
          <h5>?????</h5>
          <div class="toolbar-right"></div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

  </div>
  <div class="patch" *ngIf="loading">
    <h2 class="center-me">Загрузка...</h2>
  </div>
  <div class="flexible full-height calls-wrapper" resizable="vertical" saveName="arm-brigades-blocks">
    <div class="calls-block full-height" upResizable>
      <div class="card-header toolbar">
        <div class="toolbar-left"></div>
        <h5>Журнал вызовов</h5>
        <div class="toolbar-right"></div>
      </div>
      <div class="card-body full-height null-padding" *ngIf="!loading">
        <app-grid-table *ngIf="brigadeAssigned.brigadeBean"
                        [dataSource]="dataSourceCalls"
                        [columnDefs]="colDefsCalls"
                        [pagination]="true"
                        [filter]="filters"
                        (onRowDblClick)="goToCall($event)"
                        (onGridReady)="fitCol($event)">
        </app-grid-table>
        <div *ngIf="!brigadeAssigned.brigadeBean" class="patch">
          <h2>У вас нет вызовов</h2>
        </div>
      </div>
      <div class="patch" *ngIf="loading">
        <h2 class="center-me">Загрузка...</h2>
      </div>
    </div>
    <div class="horizontal-resizer" resizer="2px"></div>
    <div class="cards-block full-height" bottomResizable fixed="100">
      <div class="card-header toolbar">
        <div class="toolbar-left"></div>
        <h5>Список карт</h5>
        <div class="toolbar-right"></div>
      </div>
      <div class="card-body null-padding" *ngIf="!loading">
        <app-grid-table *ngIf="brigadeAssigned.brigadeBean"
                        [dataSource]="dataSourceCards"
                        [columnDefs]="colDefsCards"
                        [pagination]="true"
                        [filter]="filters"
                        (onRowDblClick)="goToCard($event)"
                        (onGridReady)="fitCol($event)">
        </app-grid-table>
        <div *ngIf="!brigadeAssigned.brigadeBean" class="patch">
          <h2>У вас нет карт</h2>
        </div>
      </div>
      <div class="patch" *ngIf="loading">
        <h2 class="center-me">Загрузка...</h2>
      </div>
    </div>
  </div>
</div>

