<div [class]='formStyle' [formGroup]="form">
  <app-simple-control *ngFor="let el of showDescs"
                      [styleClass]="getFormClass(el.styleClass)"
                      [selectList]="el.selectList"
                      [formControlName]="el.key"
                      [placeholder]="el.placeholder"
                      [type]="el.type"
                      [bindLabel]="el.bindLabel ? el.bindLabel : 'name'"
                      [bindValue]="el.bindValue ? el.bindValue : ''"
                      [alwaysDisabled]="el.alwaysDisabled"
                      [shortDict]="!!el.shortDict"
                      [dict]="el.dict"
                      [templateField]="el.templateField ? el.templateField : 'name'"
                      [dropdownPosition]="el.dropdownPosition"
                      [additional]="el.additional"
                      [dictFilters]="el.dictFilters ? el.dictFilters : {}"
                      [dictFiltersOrder]="el.dictFiltersOrder ? el.dictFiltersOrder : []"
                      [dictSearchField]="el.dictSearchField ? el.dictSearchField : 'name'"
                      [label]="el.label"
                      [postLabel]="el.postLabel"
                      [rows]="el.rows"
                      [timeOnlyWithDate]="el.timeOnlyWithDate === undefined ? false: el.timeOnlyWithDate"
                      [showTime]="el.showTime === undefined ? true : el.showTime"
                      [maxDate]="maxDate? maxDate: null"
                      [minDate]="minDate? minDate: null"
                      [errorText]="el.errorText"
                      [isError]="form.controls[el.key].invalid && form.controls[el.key].touched"
                      [presetValue]="el.presetValue? el.presetValue : null"
                      [readonly]="el.readonly? el.readonly: false"
                      [btnClass]="el.btnClass"
                      [action]="el.action"
                      [addLabel]="el.addLabel"
  ></app-simple-control>
</div>
