<div class="card">
  <div class="card-header">
    <div class="card-title">
      Состояние бригады {{brigade.brigade_name}}
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Передать</th>
        <th scope="col">Сообщение</th>
        <th scope="col">Дата и время</th>
        <th scope="col">Вид передачи</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer toolbar">
    <div class="toolbar-right">
      <div class="btn-group">
        <button class="btn btn-primary">Передать</button>
        <button class="btn btn-secondary">Назад</button>
      </div>
    </div>
  </div>
</div>
