<div class="card full-height">
  <div class="card-header toolbar">
    <div class="toolbar-left">
      <!--<div class="btn-group btn-group-sm btn-group-toggle">-->
      <!--<button class="btn btn-sm"-->
      <!--(click)="changeMode(modes.ONLINE)"-->
      <!--[ngClass]="{'btn-info' : mode === modes.ONLINE , 'btn-outline-info': mode !== modes.ONLINE}">-->
      <!--В смене-->
      <!--</button>-->
      <!--<button class="btn btn-sm btn-info"-->
      <!--(click)="changeMode(modes.OFFLINE)"-->
      <!--[ngClass]="{'btn-info' : mode === modes.OFFLINE , 'btn-outline-info': mode !== modes.OFFLINE}">-->
      <!--Не в смене-->
      <!--</button>-->
      <!--<button class="btn btn-sm btn-info"-->
      <!--(click)="changeMode(modes.UPCOMING)"-->
      <!--[ngClass]="{'btn-info' : mode === modes.UPCOMING , 'btn-outline-info': mode !== modes.UPCOMING}">-->
      <!--Скоро выходят-->
      <!--</button>-->
      <!--</div>-->
    </div>
    <div class="card-title">Вызовы</div>
    <div class="toolbar-right"></div>
  </div>
  <div class="card-body full-height null-padding">
    <app-grid-table
      [listSource]="listSource"
      [columnDefs]="colDefs"
      (onRowDblClick)="goToCall($event)">
    </app-grid-table>
  </div>
</div>
