<div class="flexible flex-column full-height">
  <div class="flexible call-toolbar">
    <div class="toolbar-left">
      <div class="btn-group">
        <button class="btn btn-success" (click)="createCall()">
          <i class="fas fa-sm fa-plus"></i>
          Новый вызов
        </button>
        <button class="btn btn-primary" (click)="goToArchive()">
          Архив {{mode === 'calls' ? 'вызовов': 'карт'}} <i class="fas fa-external-link-alt"></i>
        </button>
      </div>
    </div>
    <div class="toolbar-right">
      <button class="btn btn-primary" (click)="changeMode()">
        {{mode === 'calls' ? 'Показать актуальные карты' : 'Показать актуальные вызовы'}}
      </button>
    </div>
  </div>
  <div class="flexible full-height" *ngIf="mode === 'calls'">
    <div class="card full-height w-75">
      <div class="card-header toolbar">
        <div class="toolbar-left">
        </div>
        <h5>Актуальные вызовы <span class="badge badge-pill badge-info">
          {{this.firstLoaded ? listSourceCalls.length: ''}}
          <i *ngIf="!this.firstLoaded" class="fas fa-spinner fa-pulse"></i>
        </span></h5>
        <div class="toolbar-right"></div>
      </div>
      <div class="card-body full-height null-padding">
        <app-grid-table
          [listSource]="listSourceCalls"
          [columnDefs]="colDefsCalls"
          [pagination]="false"
          (onRowSelect)="selectCall($event)"
          (onGridReady)="fitCol($event)"
          (onRowDblClick)="goToCall($event)">
        </app-grid-table>
      </div>
    </div>
    <div class="card full-height w-25">
      <div class="card-header toolbar">
        <div class="toolbar-left">

        </div>
        <h5>
          Карты вызова
        </h5>
        <div class="toolbar-right">

        </div>
      </div>
      <div class="card-body p-0 full-height scrollable">
        <table *ngIf="!cardLoading && selectedCall && callsCards.length > 0"
               class="table table-sm  m-0 table-hover">
          <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Статус</th>
            <th scope="col">Бригада</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let card of callsCards" [routerLink]="card.call_id+'/card/'+card.card_id">
            <td>{{card.number}}</td>
            <td><a>{{card.card_status_name}}</a></td>
            <td>{{card.brigade_name}}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!cardLoading && selectedCall &&callsCards.length === 0" class="patch">
          <h2>У вызова нет карт</h2>
        </div>
        <div *ngIf="cardLoading" class="patch">
          <h2>Загрузка...</h2>
        </div>
        <div *ngIf="!selectedCall" class="patch">
          <h2> Выберите вызов</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="card full-height" *ngIf="mode === 'cards'">
    <div class="card-header toolbar">
      <div class="toolbar-left">
      </div>
      <h5>Актуальные карты</h5>
      <div class="toolbar-right"></div>
    </div>
    <div class="card-body full-height p-0">
      <app-grid-table [listSource]="listSourceCards"
                      [columnDefs]="colDefsCards"
                      [pagination]="false"
                      (onGridReady)="fitCol($event)"
                      (onRowDblClick)="goToCard($event)">
      </app-grid-table>
    </div>
  </div>
</div>

