<div class="card text-white bg-danger">
  <div class="card-header">
    <div class="card-title center-me">
      Новый вызов {{callItem.ukio ? 'УКИО': '103'}}
    </div>
  </div>
  <div class="card-body">
    <b>Номер: </b> {{callItem.fromNumber}} <br><br>
    <div class="toolbar">
      <button class="btn btn-success w-100 mr-4" (click)="acceptCall()">
        Принять
      </button>
      <button class="btn btn-secondary w-100" (click)="back()">
        Отмена
      </button>
    </div>
  </div>
</div>
