@import '../../../../styles/variables';

:host{
  height: 100%;
  flex-grow: 1;
  padding: 0.4rem;
  background-color: $yellow-sand;
  display: flex;
}

.info-wrapper{
  width: 24rem;
  height: 100%;
}

.brigade-control{
  height: 100%;
  padding: 0.45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .performers-block{

  }
  .buttons-block{
    display: flex;
  }
}

.call-n-logs{
  flex-grow: 1;
}


